<% if (css === 'bootstrap') { %>@import "bootstrap";
<% } %><% if (css === 'ungrid') { %>@import "ungrid";
<% } %>@import "mobile";

$green-grass: #AF0;
$violet: #212;
$orange: #F90;

BODY {
  color: $orange;
  background-color: $violet;
}

h1 {
  color: #7b92a8;

  @include mobile-640 {
    color: $green-grass;
  }

  @include mobile-320 {
    color: $violet;
  }
}

span {
  @include mobile-iphone-6plus { color: $orange };
}
