doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        <% if (preprocessor === 'less' && css === 'mini') { %>link(rel="stylesheet", href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.min.css")
        <% } %>link(rel="stylesheet", href="css/styles.css")
        title <%= projectName %> Website<% if (!javascript) { %>
        script(type='text/javascript').
            function draw(){const e=document.createElement("canvas")
            if(e.width=150,e.height=150,e.getContext){const t=e.getContext("2d")
            t.strokeStyle="#1e284d";t.fillStyle="#c6bfee";t.fillRect(25,25,100,100);t.strokeRect(50,50,50,50)}
            else alert("No canvas!");document.body.appendChild(e)}
<% } %>
    body<% if (!javascript) { %>(onload="draw()")<% } %>
        .container<% if (javascript === 'vue') { %>#app<% } %>
            .row
                .col-md-12
                    p
                        h1 Jade
                        span Node.js template engine<% if (javascript) { %>
    script(src="js/bundle.js")<% } %>